<!DOCTYPE html>
<html lang="pt-BR">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/reset.css">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
     <link rel="stylesheet" type="text/css" href="../static/styles.css">
     <link rel="icon" type="image/x-icon" href="../img/icon/icone.png">
     <title>Habitos Sustentaveis</title>
</head>
<body>
     <header>
          <a href="/index.html"><h1 class="logo">Habitos Sustentaveis</h1></a>
          <nav class="nav">
               <a href="./consumo.html"><h1 class="nav-link">Consumo</h1></a>
               <a href="./alimentacao.html"><h1 class="nav-link active-link">Alimentação</h1></a>
               <a href="./mobilidade.html"><h1 class="nav-link">Mobilidade</h1></a>
               <a href="./contato.html"><h1 class="nav-link">Contatos</h1></a>
          </nav>
          <button class="menu-button">
               <i class="fa-solid fa-bars"></i>
          </button>
     </header>
     <main>
          <div class="main-img-container"><img src="../img/alimentacao.jpg" alt="imagem ilustrativa da naturesa" class="main-img"></div>
          <div class="text-container">
               <h1>Alimentação Consciente</h1>
               <h2>A alimentação tem um grande impacto no meio ambiente, desde a produção até o descarte. Uma dieta baseada em produtos locais, orgânicos e de origem vegetal pode reduzir significativamente a pegada ecológica individual. Além disso, reduzir o desperdício de alimentos, planejando as compras e consumindo de forma mais </h2>
          </div>   
     </main>
     <script src="../js/index.js"></script>
</body>
</html>